In [1]:
import pandas as pd

In [2]:
COLUMN_NAMES = ['login', 'password', 'key', 'email', 'name', 'age', 'city', 'spend_time', 'movies', 'music', 'pet', 'profession', 'hobbies', 'social_status', 'gender', 'food','image_embedding', 'description', 'reviews', 'points']
PATH_TO_DATA = 'db.csv'

In [22]:
db = pd.read_csv(PATH_TO_DATA, sep = '$')

In [23]:
db

,login,password,key,email,name,age,city,spend_time,movies,music,pet,profession,hobbies,social_status,gender,food,image_embedding,description,reviews,points
0,deep,12345,8d99e7be-8f8a-4093-8106-73edc8891364,graur.lenka@gmail.com,Lena,12,Chisinau,actively,"['Comedy', 'Horror']","['Rock', 'Dubstep']",Yes,Security,"['Reading', 'Playing boardgames']",Single,Male,['Healthy food'],smith.jpg,Love bananas!,,0
1,deep2,123456,09ed09be-a9db-43b5-899b-6f346a8ed142,aclefos@yahoo.com,Alex,19,Chisinau,actively,"['Comedy', 'Horror']",['Metal'],Yes,Security,"['Reading', 'Playing boardgames']",Single,Male,['Healthy food'],samuel.jpg,I like hot dogs!,,0

In [17]:
db = pd.DataFrame({}, columns = COLUMN_NAMES)

In [18]:
db.to_csv(PATH_TO_DATA, sep = '$', index = False)

In [26]:
quests = pd.DataFrame(data  = {}, columns = ['event_key', 'users_key'])
quests.to_csv('quests.csv', sep = '$')

In [27]:
quests = pd.read_csv('quests.csv', sep = '$')

In [28]:
quests

Empty DataFrame
Columns: [Unnamed: 0, event_key, users_key]
Index: []